@import "bootstrap";

/* custom css */

.bg-light {
  background-color: #66ccff !important;
}

.card-dash-success {
  background-color: #79ea4f;
}

.card-dash-danger {
  background-color: #ff0000;
}

.card-dash-warning {
  background-color: #e8b009;
}

.card-dash-info {
  background-color: #cbd0d8;
}
